body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eee;
}
.container{
	max-width: 550px;
	height: 100%;
}
.btn-group-wrap{
	text-align: center;
}
.btn-container{
	padding-top: 10px;
	float: none;
	margin: 0 auto;
	text-align: center;
	width: inherit;
	display: inline-block;
	
}
.btn-right{
	float: left;
}
.btn-2{
	/*display: none;*/
}
.content{
	display: none;
	float: none;
	position: relative;
	margin-top: 50%;
	margin-bottom: auto;
}
#dropdown .tt-dropdown-menu{
	max-height: 150px;
	overflow-y: hidden;
	width: 100%;
}
.twitter-typeahead{
	width: 100%;
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.empty-message {
	margin: 2px, 0, 0;
  padding: 3px 10px;
 text-align: center;
}
.tutor-list{
	max-width: 60%;
	min-width: 650px;
	margin-top: 30px;
	box-shadow: 3px 3px 12px #A3A3A3;
	padding: 10px;
}
.container{
	margin-bottom: 20px;
}
.time_input{
	margin-bottom: 5px;
}
.modal-body{
	padding-bottom: 0px;
	padding-top: 15px;
}
.search_btn{
	height: 34px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 2px;
}