body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  height: 100%;
}
.container{
	max-width: 550px;
	height: 100%;
}
#dropdown .tt-dropdown-menu{
	max-height: 150px;
	overflow-y: hidden;
	width: 100%;
}
/* Set the fixed height of the footer here */
  #push,
  #footer {
    height: 60px;
  }
  #footer {
    background-color: #f5f5f5;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
/* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }
  .container .credit {
    margin-top: 20px;
    text-align: center;
  }
.muted {
  color: #999999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.logout {
	position:absolute;
	top:5px;
	right:5px;
}
.logout:hover {
	text-decoration: none;
}
#apply-modal{
	min-width: 600px;
}